.home {
  .section1 {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .back {
      position: absolute;
      width: 100vw;
      height: 100vh;
    }
    .contentWrapper {
      z-index: -1;
      background: rgba(240, 240, 240, 0.5);
      .candles {
        margin-right: 40px;
        width: 90vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .logo {
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        h1 {
          font-size: 90px;
          font-family: 'Maven Pro', sans-serif;
        }
      }
      position: fixed;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .candleStick1 {
        position: absolute;
        z-index: -1;
        margin-left: 13px;
        margin-top: -15px;
        width: 3px;
        height: 170px;
        background-color: black;
      }
      .wick:nth-child(odd) {
        background-color: #84BA4D;
      }
      .wick {
        margin-left: 40px;
        border: 1px solid black;
        width: 30px;
        height: 130px;
        background-color: #c43905;
      }
    }
  }
  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* The image used */
    background-image: url("../../images/hand.jpeg");
    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contentWrapper2 {
    background-image: url("../../images/mapBack.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 92vh;
    .content {
      width: 100vw;
      height: 92vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(144,184,92, .8);
      .subjectsHead {
        margin-top: 5%;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      h1 {
        color: white;
        font-family: 'Maven Pro', sans-serif;
      }
      p {
        width: 60vw;
        font-size: 20px;
        color: white;
        text-align: center;
        font-family: 'Open Sans Condensed', sans-serif;
      }
      .subjects {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 90vw;
        height: 30vh;
        .subject {
          display: flex;
          flex-direction: column;
          justify-content: baseline;
          align-items: center;
          width: 25vw;
          h1 {
            font-size: 35px;
          }
          p {
            width: 75%;
            font-size: 20px;
            font-family: 'Open Sans Condensed', sans-serif;
          }
        }
      }
    }
  }
  .followUs {
    background: rgba(0,0,0, .7);
    h1 {
      font-size: 100px;
      color: hsl(90,44%,52%); /* Will override color (regardless of order) */
    }
    h2 {
      font-size: 40px;
      color: white;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .savages {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    z-index: 2;
    width: 100vw;
    height: auto;
    background: white;

    box-sizing: border-box;
    .imageContainer {
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: baseline;
      max-height:100%;
      .savageImage {
        z-index: 1;
        width: 80%;
        height: 80%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }
      .bio {
        width: 250px;
        p {
          margin: 0;
          font-family:'Maven Pro', sans-serif;
        }
      }
    }
  }
  /* Portrait and Landscape */
  @media only screen
  and (min-device-width: 300px)
  and (max-device-width: 700px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .section1 {
      .contentWrapper {

        .wickRepeat {
          display: none;
        }
        .logo {
          h1 {
            font-size: 40px !important;
          }
        }
      }
    }
    .contentWrapper2 {
      height: auto;
      height: border-box;
        flex-wrap: wrap;
      .content {
        height: auto;
        display: inline-block;
        padding-bottom: 20px;
        .subjectsHead {
          margin-bottom: 0;
          p {
            width: 100vw;
          }
        }
        .subjects {
          height: 100vh;
           width: 100vw;
           flex-direction: column !important;
      .subject {
        margin-bottom: 50px;
        width: 100vw !important;
        p {
          width: 100vw;
        }
      }
    }
      }
    }

  }
}