.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 0 0 2px 2px;
  .logo {
    h1 {
      font-size: 35px;
      font-weight: bold;
      font-family: 'Maven Pro', sans-serif;

      width: 400px;
      margin-bottom: -5px;
    }
    h5 {
    }
    .logoLink {
      color: #73BC38;
      text-decoration: none;
    }
  }
  li {
    color: red;
  }
  ul {
    padding: 10px 5px 0 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    li {
      margin-top: 20px;
      padding: 0 5px 0 5px;
      a {
        font-size: 20px;
        font-family: 'Open Sans Condensed', sans-serif;

        text-decoration: none;
        color: hsl(93,54%,50%);

      }
      a:hover {
        text-decoration: none;
        color: hsl(93,54%,35%)
      }
    }
    .socialDropDown {
      cursor: pointer;
      color: hsl(207,59%,59%);
    }
    .socialDropDown:hover {
      color: hsl(207,86%,75%)
    }
    .socialMedia {
      margin-top: 10px;
      display: none;
      flex-direction: column;
      position: absolute;
      z-index: -1;
      border-top: none;
      li {
        margin: 0 20px 0 0;
      }
    }
  }
  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */

  /* Portrait and Landscape */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .navigationLinks {
     display: none;
    }

    .logo {
      h1 {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Maven Pro', sans-serif;

        width: 400px;
        margin-bottom: -5px;
      }
      h5 {
      }
      .logoLink {
        color: #73BC38;
        text-decoration: none;
      }
    }
  }
}



