.home .section1 {
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .home .section1 .back {
    position: absolute;
    width: 100vw;
    height: 100vh; }
  .home .section1 .contentWrapper {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .home .section1 .contentWrapper .logo {
      width: 100vw;
      height: 50vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: absolute; }
      .home .section1 .contentWrapper .logo h1 {
        font-size: 90px; }
    .home .section1 .contentWrapper .candleStick1 {
      position: absolute;
      z-index: -2;
      margin-left: 13px;
      margin-top: -15px;
      width: 3px;
      height: 170px;
      background-color: black; }
    .home .section1 .contentWrapper .wick:nth-child(odd) {
      background-color: #84BA4D; }
    .home .section1 .contentWrapper .wick {
      margin-left: 40px;
      border: 1px solid black;
      width: 30px;
      height: 130px;
      background-color: #c43905; }
.home .section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* The image used */
  background-image: url("../../images/hand.jpeg");
  /* Set a specific height */
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
.home .contentWrapper2 {
  background-image: url("../../images/mapBack.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh; }
  .home .contentWrapper2 .content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(144, 184, 92, 0.8); }
    .home .contentWrapper2 .content h1 {
      margin-top: 40px;
      color: white; }
    .home .contentWrapper2 .content p {
      width: 60vw;
      font-size: 20px;
      color: white;
      text-align: center; }
    .home .contentWrapper2 .content .subjects {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseliner;
      width: 90vw;
      height: 60vh; }
      .home .contentWrapper2 .content .subjects .subject {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        width: 25vw; }
        .home .contentWrapper2 .content .subjects .subject h1 {
          font-size: 30px; }
        .home .contentWrapper2 .content .subjects .subject p {
          width: 75%;
          font-size: 18px; }
.home .followUs {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; }
  .home .followUs h1 {
    font-size: 100px;
    color: #85ba4f;
    /* Will override color (regardless of order) */ }
  .home .followUs h2 {
    font-size: 40px;
    color: white; }

/*# sourceMappingURL=home.css.map */
